<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submitted</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/css/dash.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/scripts/extraOptions.js" defer></script>
  </head>
<body data-bs-theme="light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TechConnect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container col-md-4">
        <h1 class="text-center mt-5 mb-5" style="color: rgb(173, 82, 82)" th:text="${'HOLD ON TIGHT!'}"></h1>
        <p class="text-center fs-4 mb-3" th:text="${'We are around ' + distance +' km ('+ duration + ' mins) away from you.'}"></p>
        <p class="text-center fs-4 mb-4" style="color: grey" th:text="${'(Please note that this is an approximation)'}"></p>
      </div>
      
    <div class = "dropdown">
		<button type="button" id="dropdownMenuButton" class="btn btn-light btn-sm position-absolute bottom-0 end-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: -75px; margin-right: 30px; border-radius:75px;" title = "Extra Options">
			<i class = "fa-solid fa-gear" style = "font-size: 150%; padding: 10px"></i>
		</button>
		<div class = "dropdown-menu" aria-labelledby="dropdownMenuButton">
			<p class = "dropdown-item" style = "color: gray;">Extra Options v1.0.0</p>
			<div class = "dropdown-divider"></div>
			<p class = "dropdown-item" style = "color: red;">Themes</p>
			<div class = "dropdown-divider"></div>
			<ul>
				<li><a class = "dropdown-item" id = "modeSwitchLight" href = "javascript:void(0);">Light</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchDark" href = "javascript:void(0);">Dark</a></li>
			</ul>
			<div class = "dropdown-divider"></div>
			<p class = "dropdown-item" style = "color: blue;">Settings</p>
			<div class = "dropdown-divider"></div>
			<ul>
				<li><a class = "dropdown-item" href = "javascript:void(0);" id = "aboutProject">About</a></li>
			</ul>

		</div>
	</div>
</body>
</html>