<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="/scripts/extraOptions.js" defer></script>
	<!-- <script src="/scripts/siteAddons.js" defer></script> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/loginStyles.css">
	<link rel = "stylesheet" href = "/css/globals.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></scripts> -->
</head>
<body data-bs-theme = "light">
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<div id = "siteStats"></div>
				<h1 class="text-center mt-5 mb-5">Welcome to TechConnect!</h1>
				<h2 class="text-center mb-4">Login</h2>
				<form method="post" action="/login" >
                    
					<div class="mb-3">
						
						<input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Username">
					</div>
					<div class="mb-3">
						
						<input type="password" id="password" name="password" class="form-control form-control-lg"
                            placeholder="Password">
					</div>

					<!-- Submit button -->
                    
                    <div class="d-grid gap-2 mb-3">
                        <input class="btn btn-primary" type="submit" value="Sign in"></input>
                    </div>
                    
				</form>
				<div class="d-grid gap-2">
					<a href="/register" class="btn btn-secondary">Register</a>
				</div>
			</div>
		</div>
	</div>
    <!-- <button type="button" id="modeSwitch" class="btn btn-dark btn-lg position-fixed bottom-0 end-0 " style="margin-bottom: 75px; margin-right: 75px; border-radius:75px;">
		<i title = "Dark/Light" class="fa-solid fa-lightbulb" style="font-size: 150%; padding: 10px"></i>
	</button> -->
	<div class = "dropdown">
		<button type="button" id="dropdownMenuButton" class="btn btn-light btn-sm position-fixed bottom-0 end-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 20px; margin-right: 30px; border-radius:75px;" title = "Extra Options">
			<i class = "fa-solid fa-gear" style = "font-size: 150%; padding: 10px"></i>
		</button>
		<div class = "dropdown-menu" aria-labelledby="dropdownMenuButton">
			<p class = "dropdown-item" style = "color: gray;">Extra Options v1.0.0</p>
			<div class = "dropdown-divider"></div>
			<p class = "dropdown-item" style = "color: red;">Themes</p>
			<div class = "dropdown-divider"></div>
			<ul>
				<li><a class = "dropdown-item" id = "modeSwitchLight" href = "javascript:void(0);">Light</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchDark" href = "javascript:void(0);">Dark</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchBlue" href = "javascript:void(0);">Blue (v1.0.0)</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchRed" href = "javascript:void(0);">Red (v1.0.0)</a></li>
				<li><a class = "dropdown-item" id= "modeSwitchPurpleYellow" href = "javascript:void(0);">Purple+Yellow (v1.0.1)</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchRedOrange" href = "javascript:void(0);">Red+Orange (v1.0.1)</a></li>
				<li><a class = "dropdown-item" id = "modeSwitchBlueLitBlue" href = "javascript:void(0);">Blue+LightBlue (v1.0.0)</a></li>
			</ul>
			<div class = "dropdown-divider"></div>
			<p class = "dropdown-item" style = "color: blue;">Settings</p>
			<div class = "dropdown-divider"></div>
			<ul>
				<li><a class = "dropdown-item" href = "javascript:void(0);" id = "aboutProject">About</a></li>
			</ul>

		</div>
	</div>
	<!-- <button type="button" id="aboutProject" class="btn btn-light btn-sm position-fixed bottom-0 start-0 " style="margin-bottom: 10px; margin-right: 75px; margin-left: 10px; border-radius:75px;">
		<div id = "aboutProjectMenu">
			<i class="fa-solid fa-circle-info" style="font-size: 80%;" title = "About"></i>
		</div>
	</button> -->
</body>
</html>