<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="/scripts/darkMode.js" defer></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body data-bs-theme = "light">
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h1 class="text-center mt-5 mb-5">Welcome to techConnect</h1>
				<h2 class="text-center mb-4">Login</h2>
				<form method="post" action="/login" >
                    
					<div class="mb-3">
						
						<input type="text" id="username" name="username" class="form-control form-control-lg"
                            placeholder="Username">
					</div>
					<div class="mb-3">
						
						<input type="password" id="password" name="password" class="form-control form-control-lg"
                            placeholder="Password">
					</div>

					<!-- Submit button -->
                    
                    <div class="d-grid gap-2 mb-3">
                        <input class="btn btn-primary" type="submit" value="Sign in"></input>
                    </div>
                    
				</form>
				<div class="d-grid gap-2">
					<a href="/register" class="btn btn-secondary">Register</a>
				</div>
			</div>
		</div>
	</div>
    <button type="button" id="modeSwitch" class="btn btn-dark btn-lg position-absolute bottom-0 end-0 " style="margin-bottom: 75px; margin-right: 75px; border-radius:75px;">
		<i class="fa-solid fa-lightbulb" style="font-size: 150%; padding: 10px"></i>
	</button>
</body>
</html>