

#new-inquiry-button{
    background-color: rgb(255, 188, 20);
    border-color: rgb(255, 188, 20);
}
#message-history-button{
    background-color: rgb(0, 115, 255);
    border-color: rgb(0, 115, 255);
}

#new-inquiry-button:hover{
    background-color: rgb(253, 235, 188);
}
#message-history-button:hover{
    background-color: rgb(161, 203, 254);
}

#emergency-button{
    background-color: red;
    border-color: red;
}

#emergency-button:hover{
    background-color: rgb(255, 150, 150);
}

#container-2{
    padding: 30px;
}

#new-inquiry-submit-button{
    background-color: rgb(0, 115, 255);
}
#title-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.btn-primary{
    height: 100px;
    margin: 30px;
}

.form-display {
    margin-top: 20px;
    border: solid rgb(188, 188, 188) 2px;
    border-radius: 2em;
    padding: 15px;
}

.inquiry-container{
    border: solid rgb(0, 115, 255) 3px;
    border-radius: 2em;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 30px;
    height: 40px;
    display: flex;
    font-weight: 500;
    background-color: rgb(0, 115, 255);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}

.inquiry-container:hover{
    background-color: rgb(161, 203, 254);
    border-color: rgb(161, 203, 254);
    cursor: pointer;
}

#inquiry-history-container{
    margin-top: 50px;
    width: 40%;
}

#container-message-display{
    padding-left: 50px;
}

.slider-wrapper .inquiry-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 500px;
    padding-bottom: 10px;
}

.slider-wrapper {
    margin: 20px;
    margin-left: 20px;


}

.slider-wrapper .inquiry-list .inquiries {
    object-fit: cover;
    width: 200px;
    height: 300px;

}

.inquiries {
    
    position: relative;
    border: 1px solid #F6F7F9;
    background-color: #F6F7F9;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 2em;
    padding: 20px;

}


.inq-title-display {
    text-align: center;
    background-color: white;
    border-radius: 2em;
    margin-bottom: 5px;
    padding-top: auto;
}

.inq-username, .inq-username-resolved{
    position: absolute;
    top: 100px;
    margin-left: 20px;
}


.inq-title {
    padding: 10px;
    font-weight: 800;
}

.inq-button {
    width: 100px;
    justify-self: baseline;
    margin-bottom: 20px;
    border-radius: 2em;
    color: white;
}
.dropdown-content{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
    justify-self: baseline;
    border-radius: 2em;
    color: white;
    background-color: #454545;
    border-color:#454545;
    text-align: center;
    padding: 10px;

}
.dropdown-content:hover{
    cursor: pointer;
}
.inq-buttons-container{
    position: absolute;
    bottom: 25px;
    margin-left: 20px;
}
.inq-buttons-container-resolved{
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
}


.inq-container {
    max-width: 1200px;
    width: 95%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}



.inq-type-header {
    margin-left: 35vw;
    margin-bottom: 25px;;
}

