<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="TechConnect" property="og:title" />
    <meta content="TechConnect (or techConnect) is a project aimed to assist Super Tech Security in terms of communication.
        It is a web app that allows the admin to login and manage a dashboard to communicate with clients.
        The clients can login to create an inquiry and to request assistance from the admin as soon as possible.
        The admin can also manage the clients' inquiries and respond to them." property="og:description" />
    <meta content="https://techconnect-1.onrender.com" property="og:url" />
    <meta content="#ff0000" data-react-helmet="true" name="theme-color" />
    <meta content="https://techconnect-1.onrender.com/images/techconnect.png" property="og:image" />
    <link rel="icon" href="/images/techconnect.png"/>
    <title>Document</title>
</head>
<body>
    
</body>
</html>