<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h2 class="mt-5 mb-4">UNRESOLVED INQUIRIES</h2>
				<div th:each="inquiry:${unresolvedInquiries}" style="border: 1px solid black; padding: 10px; margin-bottom: 10px">
                    <p th:text="${'User ID: ' + inquiry.userId}"></p>
                    <p th:text="${'Username: ' + inquiry.userName}"></p>
                    <p th:text="${'Description: ' + inquiry.description}"></p>
                    <a href="#">
                        <button type="button" class="btn btn-primary">Reply</button>
                    </a>
                </div>       
			</div>
		</div>
        <div class="row justify-content-center">
			<div class="col-md-8">
				<h2 class="mt-5 mb-4">RESOLVED INQUIRIES</h2>
				<div th:each="inquiry:${resolvedInquiries}" style="border: 1px solid black; padding: 10px; margin-bottom: 10px">
                    <p th:text="${'User ID: ' + inquiry.userId}"></p>
                    <p th:text="${'Username: ' + inquiry.userName}"></p>
                    <p th:text="${'Description: ' + inquiry.description}"></p>
                    <a href="#">
                        <button type="button" class="btn btn-primary">View</button>
                    </a>
                </div>       
			</div>
		</div>
	</div>
    
    
    
</body>
</html>